.login-form {
  width: 250px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.signup-form {
  width: 400px;
}

.alignItemsCenter {
  display: flex;
  align-items: center;
}

.alignCenter {
  display: flex;
  justify-content: center;
}

.sticky-main {
  background-color: #eeeee1;
  height: 92.1vh;
  max-height: 92.1vh;
  overflow-y: scroll;
  padding: 1rem;
}
