.login-form {
  width: 250px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.signup-form {
  width: 400px;
}
